.footer-container{
    margin-top: 1%;
    height: 10vh;
    background-color: rgb(75, 75, 13);
   display: flex;
   flex-direction:column;
   align-items: center;
   margin: 0 2vw;
   position: relative;
}
.footer-container p{
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    color: white;
    position: absolute;
}
.footer-line-1{
    top:4vh;
}